<p id="notice"><%= notice %></p>

<h1>Snaps</h1>

<center>
    <% @snaps.each do |snap| %>
        <div class="snap-box">
            <%= image_tag snap.url, style: 'max-width: 500px' %>
            <h4> <%= snap.caption %></h4>
            <h4>Posted by <%= snap.user.email %></h4>
         </div>
    <% end %>
</center>
 

<br>

<%= link_to 'New Snap', new_snap_path %>
