<!DOCTYPE html>
<html>
  <head>
    <title>Snapagram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navigation">
      <ul>
        <li><%= link_to 'Snaps', snaps_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "Welcome, " + current_user.email %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Register', new_user_registration_path %></li>
          <li> <%= link_to "Log In", new_user_session_path %></li>
        <% end %>
        <li> <%= link_to 'Post New snap', new_snap_path %></li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
